Outfit-{{ num }}:
  Id: {{ base_item }}
  MaxDurability: {{ max_durability }}
  Display: '<b><white>{{ display_name }}</white></b>'
  Attributes:
{% if kind == "Helmet" %}
    Head:
      Armor: 2.5
      MovementSpeed: 0.01
      Health: 1
      SafeFallDistance: 1
{% elif kind == "Chestplate" %}
    Chest:
      Armor: 6
      MovementSpeed: 0.01
      Health: 1
      MaxAbsorption: 2
{% elif kind == "Leggings" %}
    Legs:
      Armor: 5.5
      Health: 1
      MovementSpeed: 0.01
{% elif kind == "Boots" %}
    Feet:
      Armor: 2.5
      Health: 1
      StepHeight: 0.5
{% endif %}
  ItemUpdater:
    Version: {{ generation_unixtime }}
    PreserveStatRatio: true
  Options:
{% if color_code is defined %}
    Color: {{ color_code }}
{% endif %}
{% if trim_material is defined and trim_pattern is defined %}
    Trim:
      Material: {{ trim_material }}
      Pattern: {{ trim_pattern }}
{% endif %}
    FireResistant: true
  Hide:
  - ATTRIBUTES
  - ARMOR_TRIM
  - DYE
  Lore:
  - '<white>全身装備して、素早くスニーク3回'
  - '<white><b>>><reset> <white><u>変装 + 効果付与'
  Enchantments:
  - UNBREAKING 4
  - PROTECTION 2
  - AQUA_AFFINITY 1
  - RESPIRATION 3
  Skills:
{# Only helmets have the disguise skill #}
{% if has_disguise and kind == "Helmet" %}
  - skill{s=Outfit-DisguiseTimer-{{ group_key }}} @self ~onTimer:1
  - skill{s=Outfit-DisguiseCrouch-{{ group_key }}} @self ~onCrouch
  - skill{s=Outfit-DisguiseCrouch-{{ group_key }}} @self ~onUnCrouch
{% endif %}
